header img{
    width: 70%;
}
.container{
    margin-bottom: 100px;
}
.banner{
    background-image: url(../img/bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}
.batn{
    background-color: black;
    color: #fff;
    padding: 7px 20px;
    border-radius: 6px;
}
